<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="${ boardDTO.name }"></h1>
    <table align="center" border="1">
        <tr>
            <th>게시판id</th>
            <th>게시판이름</th>
            <th>게시판설명</th>
            <th>사용자 활성화</th>
            <th>관리자 활성화</th>
        </tr>
        <tr>
            <td th:text="${ boardDTO.boardId }"></td>
            <td th:text="${ boardDTO.name }"></td>
            <td th:text="${ boardDTO.description }"></td>
            <td th:text="${ boardDTO.userActive } ? '활성' : '비활성'"></td>
            <td th:text="${ boardDTO.adminActive } ?  '활성' : '비활성'"></td>
        </tr>
<!--        <tr th:each="boardDTO : ${ boardDTO }">-->
<!--            <td th:text="${ boardDTO.boardId }"></td>-->
<!--            <td th:text="${ boardDTO.name }"></td>-->
<!--            <td th:text="${ boardDTO.description }"></td>-->
<!--        </tr>-->

    </table>
</body>
</html>